/docs/
/lib/
/bin/
/.shards/
*.dwarf
shard.override.yml

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock
/src/cairo-1.0
/src/g_lib-2.0
/src/g_module-2.0
/src/g_object-2.0
/src/gdk-4.0
/src/gdk_pixbuf-2.0
/src/gio-2.0
/src/graphene-1.0
/src/gsk-4.0
/src/gtk-4.0
/src/harf_buzz-0.0
/src/pango-1.0
/src/pango_cairo-1.0
